/* Plantilla Vacia : Plantilla 1*/
/* Plantilla Animada Color Azul: Plantilla 2*/
*{
box-sizing: border-box;
}
html{ 
}
head{ 
}
title{ 
}
body{ 
    background: linear-gradient(to right, #ffffff, #fce9e9)
}
 html
{
animation-duration: 3s;
 animation-name: slidein;
}
@keyframes slidein {
from {
margin-right: 100%;
width: 50%
 }
to {
margin-left: 0%;
width: 100%;
}
}